<%= form_with(model: attendance, local: true, html: {class: 'form'}) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-3">
    <%= form.label :time_in, class: 'label' %>
    <%= form.datetime_field :time_in, class: 'form-control' %>
  </div>

  <div class="form-group my-3">
    <%= form.label :time_out, class: 'label' %>
    <%= form.datetime_field :time_out, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success float-start' %>
  </div>
<% end %>
