<h1>Attendances</h1>

<table class="table">
  <thead>
    <tr>
      <th>Time in</th>
      <th>Time out</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.time_in %></td>
        <td><%= attendance.time_out %></td>
        <td>
          <span class="badge <%= attendance.marked? ? 'bg-success' : 'bg-danger' %>"><%= attendance.status %></span>
        </td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Attendance', new_attendance_path, class: 'btn btn-primary' %>

<%= link_to 'Clock In', clock_in_attendances_path, class: 'btn btn-primary', method: :post %>
<%= link_to 'Clock Out', clock_out_attendances_path, class: 'btn btn-primary', method: :post %>
